<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>All Drinks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .form-container {
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 20px;
      margin-top: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .bg-info.bg-gradient {
      background-image: url('/img/back.jpg');
    }
    .text-center {
      text-align: center;
    }
    .mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .table {
      width: 100%;
      border-collapse: collapse;
    }
    .table tr,
    .table th,
    .table td {
      border: 1px solid #dcdde0;
      padding: 8px;
      margin: 0;
      text-align: center;
      background-color: #fff;
    }
    .table th {
      background-color: #f2f2f2;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .navbar-nav .logout-link {
      border: 2px solid #336AB7;
      background-color: #093c72;
      font-size: large;
      font-weight: bold;
      color: rgba(164, 96, 96, 0);
      margin-top: 4px;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
    .scrollable-table {
      max-height: 250px;
      overflow-y: scroll;
    }
  </style>
</head>
<body class="bg-info bg-gradient">
<!-- create navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/}">Admin Panel</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()">
          <a class="logout-link" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div class="container">
  <div class="form-container text-center" style="background-color: #336AB7; color: white; font-weight: bold;">
    <h4><span th:text="${drinkCategory.name}">Drink Category</span></h4>
  </div>
  <div class="text-center">
    <div class="form-container">
      <h2>All Drinks</h2>
      <div class="form-group">
        <input type="text" class="form-control" id="searchInput" placeholder="Search..." onkeydown="handleSearch(event)">
      </div>
      <div class="form-group text-left">
        <button class="btn btn-success" onclick="exportToExcel()">Export to Excel</button>
      </div>
      <div th:if="${param.deleteSuccess}" class="alert alert-success" id="successMessage1">
        Drink deleted successfully.
      </div>
      <div th:if="${param.deleteError}" class="alert alert-danger" id="errorMessage1">
        Failed to delete drink.
      </div>
      <div class="scrollable-table table-responsive">
        <table class="table" id="drinkTable">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <!-- Iterate over the list of users and display their information -->
          <tr th:each="drink : ${drinks}">
            <td th:text="${drink.id}" style="vertical-align: middle;"></td>
            <td th:text="${drink.name}" style="vertical-align: middle;"></td>
            <td th:text="${drink.price}" style="vertical-align: middle;"></td>
            <td style="vertical-align: middle;">
              <a class="btn btn-primary" th:href="@{/index_admin/edit_drink_admin/{id}(id=${drink.id})}" style="width: 100px;">Edit</a>
              <a class="btn btn-danger" th:href="@{/index_admin/delete_drink_admin/{id}(id=${drink.id},categoryName=${drinkCategory.name})}" onclick="return confirmDelete1(event)" style="width: 100px;">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
        <div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody id="searchResults">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-container">
      <a class="btn btn-primary" th:href="@{/index_admin/add_drink_admin/{categoryId}(categoryId=${drinkCategory.id})}">Add New Drink</a>
    </div>
    <div class="form-container text-center">
      <a class="btn btn-primary" th:href="@{/}">Back to Admin Panel</a>
    </div>
  </div>
</div>
<script>
  function confirmDelete1(event) {
    if (!confirm("Are you sure you want to delete?")) {
      event.preventDefault();
      return false;
    }
    return true;
  }

  function confirmDelete2(event) {
    if (!confirm("Are you sure you want to delete?")) {
      event.preventDefault();
      return false;
    }
    return true;
  }

  setTimeout(function set1() {
    var successMessage1 = document.getElementById('successMessage1');
    var errorMessage1 = document.getElementById('errorMessage1');
    var successMessage2 = document.getElementById('successMessage2');
    var errorMessage2 = document.getElementById('errorMessage2');

    if (successMessage2) {
      successMessage2.style.display = 'none';
    }

    if (errorMessage2) {
      errorMessage2.style.display = 'none';
    }

    if (successMessage1) {
      successMessage1.style.display = 'none';
    }

    if (errorMessage1) {
      errorMessage1.style.display = 'none';
    }
  }, 2000);
</script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script>
  function exportToExcel() {
    var workbook = XLSX.utils.book_new();

    var worksheet = XLSX.utils.table_to_sheet(document.querySelector('.table'));

    XLSX.utils.book_append_sheet(workbook, worksheet, 'Πίνακας Δεδομένων');

    var excelFile = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });

    var blob = new Blob([excelFile], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

    var link = document.createElement('a');
    link.href = window.URL.createObjectURL(blob);
    link.download = 'δεδομένα.xlsx';
    link.click();
  }
</script>
<script>
  function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("drinkTable");
    tr = table.getElementsByTagName("tr");

    var results = [];

    for (i = 0; i < tr.length; i++) {
      var row = tr[i];
      td = row.getElementsByTagName("td");

      for (var j = 0; j < td.length; j++) {
        var cell = td[j];
        if (cell) {
          txtValue = cell.textContent || cell.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            results.push(row.outerHTML);
            break;
          }
        }
      }
    }

    var searchResults = document.getElementById("searchResults");
    searchResults.innerHTML = results.join("");

    $('#searchModal').modal('show');
  }
</script>
<script>
  function handleSearch(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      searchTable();
    }
  }
</script>
</body>
</html>
