<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>Admin Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body class="bg-info bg-gradient">
<!-- create navigation bar (header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:href="@{/}">Admin Panel</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li sec:authorize="isAuthenticated()">
					<a class="logout-link" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<br>
<br>
<div class="container">
	<div class="form-container text-center">
		<h1>Admin Panel</h1>
	</div>
	<div class="form-container text-center" style="background-color: #336AB7; color: white; font-weight: bold;">
		Welcome <span sec:authentication="principal.username">User</span>
	</div>
	<div class="text-center">
		<div class="form-container">
			<h2>Registered Users</h2>
			<div th:if="${param.deleteSuccess}" class="alert alert-success" id="successMessage1">
				User deleted successfully.
			</div>
			<div th:if="${param.deleteError}" class="alert alert-danger" id="errorMessage1">
				Failed to delete user.
			</div>
			<div class="scrollable-table table-responsive">
					<table class="table">
						<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Email</th>
							<th>Action</th>
						</tr>
						</thead>
						<tbody>
						<!-- Iterate over the list of users and display their information -->
						<tr th:each="user : ${users}">
							<td th:text="${user.id}" style="vertical-align: middle;"></td>
							<td th:text="${user.firstName}" style="vertical-align: middle;"></td>
							<td th:text="${user.lastName}" style="vertical-align: middle;"></td>
							<td th:text="${user.email}" style="vertical-align: middle;"></td>
							<td style="vertical-align: middle;">
								<a class="btn btn-primary" th:href="@{/index_admin/edit_user_admin/{id}(id=${user.id})}" style="width: 100px;">Edit</a>
								<th:block th:unless="${user.id == 1}">
									<a class="btn btn-danger" th:href="@{/index_admin/delete_user_admin/{email}(email=${user.email})}" onclick="return confirmDelete1(event)" style="width: 100px;">Delete</a>
								</th:block>
							</td>
						</tr>
						</tbody>
					</table>
			</div>
		</div>
		<div class="form-container">
			<a class="btn btn-primary" th:href="@{/index_admin/add_user_admin}">Add New User</a>
		</div>
		<div class="form-container text-center">
			<h2>Drink Categories</h2>
			<div th:if="${param.deleteDSuccess}" class="alert alert-success" id="successMessage2">
				Drink category deleted successfully.
			</div>
			<div th:if="${param.deleteDError}" class="alert alert-danger" id="errorMessage2">
				Failed to delete drink category.
			</div>
			<div class="scrollable-table table-responsive">
				<table class="table">
					<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<!-- Iterate over the list of drink categories and display their information -->
					<tr th:each="drinkCategory : ${drinkCategories}">
						<td th:text="${drinkCategory.id}" style="vertical-align: middle;"></td>
						<td th:text="${drinkCategory.name}" style="vertical-align: middle;"></td>
						<td style="vertical-align: middle;">
							<a class="btn btn-primary" th:href="@{/index_admin/edit_drink_category_admin/{id}(id=${drinkCategory.id})}" style="width: 100px;">Edit</a>
							<a class="btn btn-success" th:href="@{/index_admin/all_drinks_admin/{id}(id=${drinkCategory.id})}" style="width: 150px;">All Drinks</a>
							<a class="btn btn-danger" th:href="@{/index_admin/delete_drink_category_admin/{id}(id=${drinkCategory.id})}" onclick="return confirmDelete2(event)" style="width: 100px;">Delete</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-container text-center">
			<a class="btn btn-primary" th:href="@{/index_admin/add_drink_category_admin}">Add New Drink Category</a>
		</div>
	</div>
</div>
<script src="./js/script.js"></script>
</body>
</html>
